<h3><%= @stylist_list.name() %></h3>

<% if @stylist_list.clients().any? %>
  <h3>All clients assigned to <%= @stylist_list.name() %>:</h3>
  <ul>
    <% @stylist_list.clients().each do |client|%>
      <li><%= client.name()%></li>
    <% end %>
  </ul>
<% else %>
  <h2>No clients for <%= @stylist_list.name() %></h2>
<% end %>


<form action="/stylist/<%=@stylist_list.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @all_clients.each do |client| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="client_ids[]" value="<%= client.id()%>"><%= client.name()%>
      </label>
    </div>
  <% end %>
<button type="submit">Add a client</button>
